<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/aluno">
        <img src="/img/logo.png" width="150" height="43" class="d-inline-block align-top" alt="Logo">
    </a>
    {{#if user}}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown" style="justify-content: flex-end;margin-right:5%;">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{user.nome}}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/login/logout">Sair</a>
                </div>

            </li>
        </ul>
    </div>
    {{/if}}
</nav>