{{#unless pdf}}
<!DOCTYPE html>
<html lang="pt-br" dir="ltr">

<head>
    <title>AGAC</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link id="bootstrap-css" rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
</head>

<body>
    {{>_navbar}}
    {{#if user}}
    <div class="col-sm-2">
        {{>_dashnav}}
    </div>

    {{/if}}
    <div class="container col-sm-8" style="margin-top: 5em;padding-left:2vw">
        {{/unless}}
        {{>_exception}}
        {{#if error}}
        <div class="alert alert-danger">
            {{error}}
        </div>
        {{/if}}
        {{{body}}}
        {{#unless pdf}}
    </div>
</body>

<script src="/js/bootstrap/jquery-3.2.1.slim.min.js"></script>
<script src="/js/bootstrap/popper.min.js"></script>
<script src="/js/bootstrap/bootstrap.js"></script>
<script src="/js/aluno/aproveitamento.js"></script>
<script src="/js/aluno/global.js"></script>

</html>
{{/unless}}