<!DOCTYPE html>
<html lang="pt-br" dir="ltr">

<head>
    <title>AGAC</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
</head>

<body>
    {{>_navbar}}
    {{>_exception}}
    {{#if error}}
    <div class="alert alert-danger">
        {{error}}
    </div>
    {{/if}}
    {{#if user}}
    {{>_dashnav}}
    {{/if}}
    <div class="container mt-4" style="float:left">
        {{{body}}}
    </div>
</body>

<script src="/js/bootstrap/jquery-3.2.1.slim.min.js"></script>
<script src="/js/bootstrap/popper.min.js"></script>
<script src="/js/bootstrap/bootstrap.js"></script>
<script src="/js/aluno/aproveitamento.js"></script>

</html>