<link rel="stylesheet" href="/css/login/signin.css">
<script>
    $('#exampleModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var recipient = button.data('whatever') // Extract info from data-* attributes
        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        var modal = $(this)
        modal.find('.modal-title').text('New message to ' + recipient)
        modal.find('.modal-body input').val(recipient)
    })
</script>

<div class="container-signin">
    <div class="text-center">
        <form action="/login" method="POST" class="form-signin">
            <h1 class="h3 mb-5 font-weight-normal">Login de Usuário</h1>
            <label for="login" class="sr-only">Login</label>
            <input type="text" name="login" class="form-control" placeholder="Login" required autofocus>
            <label for="password" class="sr-only">Senha</label>
            <input type="password" name="password" class="form-control mt-4" placeholder="Senha" required>
            <button type="button" class="btn btn-light btn-sm" data-toggle="modal" data-target="#exampleModal"
                data-whatever="@mdo">Esqueci minha senha</button>
            <br>
            <a href="/login/registrar" class="btn btn-lg btn-secondary btn-block mt-4"> Criar uma conta </a>
            <button class="btn btn-lg btn-primary btn-block mt-4" type="submit">Realizar Login</button>
            <p class="mt-5 mb-3 text-muted">&copy; 2020 UFMS.</p>
        </form>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Esqueci minha senha</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="/login/email/" method="POST">
                    <div class="modal-body">

                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Digite o seu email:</label>
                            <input type="text" name="email" class="form-control" id="recipient-name">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                            <button type="submit" class="btn btn-primary">Recuperar Senha</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>