<h1>Relatórios</h1>
<hr>
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Tipos de relatórios:</h5>
        <div class="list-group">
            <a href="/professor/relatorios/alunos" class="list-group-item list-group-item-action"> Relatório de Alunos </a>
            <a href="/professor/relatorios/atividades" class="list-group-item list-group-item-action"> Relatórios de Atividades</a>
            <a href="/professor/relatorios/documentacoes" class="list-group-item list-group-item-action">Relatórios de Documentações</a>
        </div>
    </div>
</div>